<!-- This is a template inherited by url html files for their own rendering -->
<!doctype html>
<html>
    <head>
        <!-- These conditional statements used by Jinja for rendering based off of existence of title field -->
        {% if title %}
        <title>{{ title }} - AutoPoster</title>
        {% else %}
        <title>Welcome to AutoPoster</title>
        {% endif %}
    </head>
    <body>
        <div>AutoPoster: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>