<!-- This is a template inherited by url html files for their own rendering -->
<!doctype html>
<html>
    <head>
        <!-- These conditional statements used by Jinja for rendering based off of existence of title field -->
        {% if title %}
        <title>{{ title }} - AutoPoster</title>
        {% else %}
        <title>Welcome to AutoPoster</title>
        {% endif %}
    </head>
    <!-- 
        url_for('index'/'login'): used to generate the application URLs mapped to the view functions defined in routes.py module. 
            This prevents tedious refactoring of directly written urls throughout code and long URLs with dynamic components concatenated within them. 
    -->
    <body>
        <div>
            AutoPoster: 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        <!-- with construct grabs content from Flask function get_flashed_messages() and assigns them to messages. We then loop through messages and display in listed form -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>